body {
    background: #232323;
    margin: 0;
}

.square {
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    border-radius: 10%;
    transition: background 0.4s ease;
}

.squareContainer {
    max-width: 600px;
    margin: 50px auto;


}

h1 {
    background: steelblue;
    color: white;
    font-family: 'Lato';
    margin: 0;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1.2px;
    padding: 20px 0;
}

#rgbDisplay {
    font-size: 200%;
    text-transform: uppercase;
}

.navbar {
    background: white;
    text-align: center;
}

.btns {
    border: none;
    background: white;
    color: steelblue;
    font-family: 'Lato';
    outline: none;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    transition: all 0.3s;
}

.btns:hover {
    background: steelblue;
    color: white;
}

#message {
    width: 30%;
    font-family: 'Lato';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: inherit;
}